
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.okcanvas.activity">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <activity android:name=".MiniAppActivity"
            android:launchMode="singleTask"
            android:process=":subprogram"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:taskAffinity="com.okcanvas.subprogram"
        />

</manifest>
  